<%- include(`../commonPartial/header.ejs`); %>
<%- include(`../commonPartial/menu.ejs`); %>
<section class="home-section">
  <div class="home-content">

    <div class="manageAddRoom-container">
      <div id="title">
        <h2>Manage User permissions</h2>
      </div>
      <div class="userpermissionpages">
        <!-- <div class="new-room-container new-room">
        <a href="#" onclick="openAddSubjectModal() " class="newadd">add</a>
      </div> -->
        <!-- <div class="table_top">
        <div class="left">
            <button class="newadd" onclick="openAddSubjectModal()">Add New Subject</button>
        </div>
        <div class="right">
            <div class="sub-right">
              <div class="right-sub-item">
                <span>Total number of Subjects : </span><span></span>
              </div>
              <div class="right-sub-item">
                <span>Total number of Sections : </span><span></span>
              </div>
            </div>

        </div>
    </div> -->
    <% if (msg) { %>
      <div class="alert hide">
        <span class="msg"><%= msg %></span>
     </div>
    <% } %>
    <form method="post" action="/Administrator/showUserPermissions">
      <label class="permissions-title"> Select the role to see permissions for the page access.</label>  
      <div class="dropdown">
        <%= prv_info ? prv_info : '' %>
        <input type="text" id="myInput"  name="role" placeholder="Select a role" autocomplete="off" value="<%= prv_info ? prv_info : '' %>" >
      </div>
      <input type="submit" value="See permissions">
    </form>

        <!-- <form method="post" action="/Administrator/showUserPermissions">
            <label class="permissions-title"> Select the role than see permissions which page access.</label>  
          <div class="dropdown">
            <input type="text" id="myInput" name="role" placeholder="Select a role" onchange="this.form.submit()">
          </div>
        </form> -->
        <!-- < if (userPageAccess.length >0)  %> -->
          <form method="post" action="/Administrator/saveUserPermissions">
            <input  id="forPageSet" name="role" value="<%= prv_info ? prv_info : '' %>" style="display: none;" >
            <p class="permissions-title"> have access to selected pages.</p>
            <div class="checkmark-Box">
              <div class="checkmark-subBox">
                <div class="checkmark-Box-item">
                  <!-- checked -->
                  <input type="checkbox" id="page11" name="selectedPages[]" value="Rooms page" 
                  <% if (userPageAccess.length > 0) { %>
                    <%= userPageAccess[0].userPermissions[0].userPermissions.includes('Rooms page') ? 'checked="checked"' : '' %>
                  <% } %>   >
  
                  <label for="vehicle1"> Manage Rooms page</label>
                </div>
                <!-- sample -->
                <div class="checkmark-Box-item">
                  <input type="checkbox" id="page12" name="selectedPages[]" value="Subject page" <% if (userPageAccess.length > 0) { %>
                  <%=  userPageAccess[0].userPermissions[0].userPermissions.includes('Subject page') ? 'checked="checked"' : '' %>
                  <% } %>
                   >
                  <label for="vehicle2"> Manage Subject page</label>
                </div>
                <div class="checkmark-Box-item">
                  <input type="checkbox" id="page13" name="selectedPages[]" value="Exam Dates page" 
                          <% if (userPageAccess.length > 0) { %>
                            <%=  userPageAccess[0].userPermissions[0].userPermissions.includes('Exam Dates page') ? 'checked="checked"' : '' %> 
                            <% } %>
                            >
                  <label for="vehicle3"> Manage Exam Dates page</label>
                </div>
                <div class="checkmark-Box-item">
                  <input type="checkbox" id="page14" name="selectedPages[]" value="Exam Slots page" 
                          <% if (userPageAccess.length > 0) { %>
                            <%=  userPageAccess[0].userPermissions[0].userPermissions.includes('Exam Slots page') ? 'checked="checked"' : '' %>
                            <% } %>
                            >
                  <label for="vehicle3"> Manage Exam Slots page</label>
                </div>
                <!--  -->
              </div>
              <!-- box -->
              <div class="checkmark-subBox">
                <div class="checkmark-Box-item">
                  <input type="checkbox" id="page21" name="selectedPages[]" value="Exam Routine page" 
                          <% if (userPageAccess.length > 0) { %>
                            <%=  userPageAccess[0].userPermissions[0].userPermissions.includes('Exam Routine page') ? 'checked="checked"' : '' %> 
                            <% } %>
                            >
                  <label for="vehicle1"> Manage Exam Routine page</label>
                </div>
                <div class="checkmark-Box-item">
                  <input type="checkbox" id="page22" name="selectedPages[]" value="Seat Plan page" 
                            <% if (userPageAccess.length > 0) { %>
                              <%=  userPageAccess[0].userPermissions[0].userPermissions.includes('Seat Plan page') ? 'checked="checked"' : '' %>
                              <% } %>
                              >
                  <label for="vehicle2"> Manage Seat Plan page</label>
                </div>
  
  
              </div>
              <div class="checkmark-subBox">
                <div class="checkmark-Box-item">
                  <input type="checkbox" id="page31" name="selectedPages[]" value="Invigilator Criteria page" 
                            <% if (userPageAccess.length > 0) { %>
                              <%=  userPageAccess[0].userPermissions[0].userPermissions.includes('Invigilator Criteria page') ? 'checked="checked"' : '' %> 
                              <% } %>
                              >
                  <label for="vehicle1"> Manage Invigilator Criteria page</label>
                </div>
                <div class="checkmark-Box-item">
                  <input type="checkbox" id="page32" name="selectedPages[]" value="Reg: Invigilator page"
                            <% if (userPageAccess.length > 0) { %>
                              <%=  userPageAccess[0].userPermissions[0].userPermissions.includes('Reg: Invigilator page') ? 'checked="checked"' : '' %>
                              <% } %>
                              >
                  <label for="vehicle2"> Manage Reg: Invigilator page</label>
                </div>
                <div class="checkmark-Box-item">
                  <input type="checkbox" id="page33" name="selectedPages[]" value="Invigilator Duty page" 
                            <% if (userPageAccess.length > 0) { %>
                              <%=  userPageAccess[0].userPermissions[0].userPermissions.includes('Invigilator Duty page') ? 'checked="checked"' : '' %>
                              <% } %>
                              >
                  <label for="vehicle3"> Manage Invigilator Duty page</label>
                </div>
                <div class="checkmark-Box-item">
                  <input type="checkbox" id="page33" name="selectedPages[]" value="Duty Roster page" 
                            <% if (userPageAccess.length > 0) { %>
                              <%=  userPageAccess[0].userPermissions[0].userPermissions.includes('Duty Roster page') ? 'checked="checked"' : '' %>
                              <% } %>
                              >
                  <label for="vehicle3"> Manage Duty Roster page</label>
                </div>
              </div>
              <!--  -->
            </div>
            <p class="permissions-title" style="margin-top: 25px;"> Update the page access permissions and click "Submit" to save your changes.</p>  
            <input type="submit" value="Submit">
          </form>
        <!-- <  %> -->
        


      </div>
    </div>
  </div>
</section>
  <script>
        $(document).ready(function() {
            if ($('.msg').length > 0) {
        // Execute your code here
        // This code will run when the element with class "msg" is found
        $('.alert').addClass("show");
        $('.alert').removeClass("hide");
        $('.alert').addClass("showAlert");
        setTimeout(function() {
          $('.alert').removeClass("show");
          $('.alert').addClass("hide");
        }, 3000); // Change the time in milliseconds (e.g., 2000ms = 2 seconds)
      }
        });
  </script>

<!-- manu open close -->
<%- include(`../commonPartial/manuOpenCloseScript.ejs`); %>
<script>
  var dropdown = document.querySelector('.dropdown');
  var input = document.getElementById('myInput');
  var forPageSet = document.getElementById('forPageSet');

  var options = [{
      value: 'Co-administrator',
      text: 'Co-administrator'
    },
    {
      value: 'Invigilator',
      text: 'Invigilator'
    },
    {
      value: 'Viewer',
      text: 'Viewer'
    },
  ];

  // Create dropdown menu
  var dropdownMenu = document.createElement('ul');
  dropdownMenu.classList.add('dropdown-menu');

  options.forEach(function(option) {
    var listItem = document.createElement('li');
    listItem.setAttribute('data-value', option.value);
    listItem.textContent = option.text;
    dropdownMenu.appendChild(listItem);
  });

  // Open/close dropdown menu
  input.addEventListener('click', function() {
    if (!dropdown.contains(dropdownMenu)) {
      dropdown.appendChild(dropdownMenu);
    }
    dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
  });

  // Set input value on dropdown option click
  dropdownMenu.addEventListener('click', function(event) {
    if (event.target.tagName === 'LI') {
      var selectedValue = event.target.getAttribute('data-value');
      input.value = selectedValue;
      forPageSet.value = selectedValue;
      dropdownMenu.style.display = 'none';
    }
  });
</script>
<!-- <script>
  $(document).ready(function() {
    $('#subjecttable').DataTable({
      "pagingType": "full_numbers",
      "language": {
        "paginate": {
          "first": "First",
          "previous": "Previous",
          "next": "Next",
          "last": "Last"
        }
      }
    });
  });
</script> -->


</body>

</html>