<%- include(`../commonPartial/header.ejs`); %>
  <%- include(`../commonPartial/menu.ejs`); %>
    </body>
    <section class="home-section">
      <div class="home-content">
        <div class="manageAddRoom-container">
          <div id="title">
            <h2>Manage Invigilator </h2>
          </div>

          <div class="new-seatPlan-container new-room">
            <a href="#" onclick="openInvigilatorNeed()" class="newadd">Invigilator Need</a>

            <div style="display: flex">
              <div class="searchOpen">
                <a href="#" onclick="openInvigilatorCriteria()" class="newadd">Invigilator Criteria</a>
                <a href="#" onclick="openRoomsCriteria()" class="newadd">Rooms Criteria</a>
              </div>
            </div>
          </div>
          <!-- // Invigilator_need_info -->

          <div class="Invigilator_need_info info-view" class="" <% if (need==0) { %> style="display: block;" <% }else{ %>style="display: none;"<% } %> >
            <div >
              <div class="table_top">
                <div class="left">
                  <a href="/Administrator/Routine/createInvigilatorNeed" class="newadd">Create</a>
                </div>
                <div class="right-edit-delte">
                  <div class="edit-delete">
                    <a method="delete" href="#" onclick="openExamDateDeleteModal(this)">
                      <!-- delete -->
                      <i class="fa-regular fa-trash-can"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="info-title">
                <span>Daffodil International University (DSC)</span>
                <span> Department of Computer Science and Engineering (Day and Evening Program)</span>
                <span> Invigilator Need Information, Spring 2023</span>
              </div>
              <!-- <div style="display: flex; justify-content: space-around; width: 100%;">
                <a href="/Administrator/Routine/createInvigilatorNeed" onclick="" class="newadd">Create Invigilator
                  Need</a>
              </div> -->
              <% if (msg.length) { %>
                <div style="display: flex; width: 100%; justify-content: center; font-size: 2rem; margin: 50px 0px;">
                  <span>
                    <%= msg %>
                  </span>
                </div>
              <% } %>

              <% if (invigilatorNeedInfo.length) { %>
                <!--  -->
                <div class="invigilatorNeedInfo">
                  <div class="invigilatorNeed-header">
                    <div class="invigilatorNeed-header-item">Date</div>
                    <% for(let oneSlot of slotInfo){%>
                       <div class="invigilatorNeed-header-item slotname"><%= oneSlot.slotname %></div>
                    <% } %>
                    <div class="invigilatorNeed-header-item">Date Need</div>
                    <div class="invigilatorNeed-header-item">Edit</div>
                  </div>
                  <div class="invigilatorNeed-body">
                    
                      <!-- (const [index, aggregatedItem] of selfRoutine.entries())  -->
                      <% for(const [index, oneinvigilatorNeed]  of invigilatorNeedInfo.entries()){%>
                        <div class="invigilatorNeed-body-row">
                          <div class="invigilatorNeed-body-item value-date"><% const date=new Date(oneinvigilatorNeed.date); %>
                                  <%= date.toLocaleDateString(undefined, { day: 'numeric' ,month: 'long' , year: 'numeric' }) %></div>
                          <% for(let slot of oneinvigilatorNeed.slot){%>                         
                              <div class="invigilatorNeed-body-item value-slot"><%= slot.slotinvigilatorNeed %> </div>
                          <% } %>
                          <div class="invigilatorNeed-body-item"><%= invigilatorNeedInfo.dateWise[index] %> </div>
                          <div class="invigilatorNeed-body-item" onclick="invigilatorNeedEditHandel(this)"><i class="fa-regular fa-pen-to-square"></i> </div>
                          <!-- invigilatorNeedInfo.dateWise -->                          
                        </div>
                        <% if (index==(invigilatorNeedInfo.length-1)) { %>
                          <div class="invigilatorNeed-body-row">
                            <div class="invigilatorNeed-body-item">Slot Wise Invigilator Need</div>
                            <% for(let slotWise of invigilatorNeedInfo.slotWise){%>                         
                                <div class="invigilatorNeed-body-item"><%= slotWise %> </div>
                            <% } %>
                            <div class="invigilatorNeed-body-item"><%= invigilatorNeedInfo.totalInvigilatorNeed %> </div>
                            <div class="invigilatorNeed-body-item"> </div>
                          </div>
                         <% } %>
                      <% } %>
                    
                  </div>
                </div>
                <% } %>
            </div>
        </div>

        <!-- // Invigilator_criteria_set -->

        <div id="Invigilator_criteria_set" class="info-view" <% if (Criteria==0) { %>
          style="display: block;"

          <% }else{ %>
            style="display: none;"
            <% } %>
              >

              <div >
                <div class="table_top">
                  <div class="left">
                    <a href="#" onclick="openInvigilatorCriteriaModal()" class="newadd">Add</a>
                  </div>
                  <div class="right-edit-delte">
                    <div class="edit-delete">
                      <a href="#" onclick="examDateEditHandel(this)">
                        <!-- edit -->
                        <i class="fa-regular fa-pen-to-square"></i>
                      </a>
                      <a method="delete" href="#" onclick="openExamDateDeleteModal(this)">
                        <!-- delete -->
                        <i class="fa-regular fa-trash-can"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="info-title">
                  <span>Daffodil International University (DSC)</span>
                  <span> Department of Computer Science and Engineering (Day and Evening Program)</span>
                  <span> Invigilator Criteria Information, Spring 2023</span>
                </div>
              <!-- <div style="display: flex; justify-content: space-around; width: 100%;">
                <a href="#" onclick="openInvigilatorCriteriaModal()" class="newadd">Invigilator Criteria set</a>
              </div> -->

              
              <div id="rooms-table" style="display: flex;justify-content: space-around;">
                <table id="dateTable">
                  <thead>
                    <tr id="tableHeader">
                      <th>Designation</th>
                      <th>duty</th>
                    </tr>
                  </thead>
                  <tbody id="roomsTable">
                    <% if (criteriaInfo.length) { %>
                      <% for (var i=0; i < criteriaInfo[0].criteria.length ; i++) { %>
                        <tr id="">
                          <td class="roomNumber">
                            <span>
                              <%= criteriaInfo[0].criteria[i].designation %>
                            </span>
                          </td>
                          <td class="columsnumber">
                            <span>
                              <%= criteriaInfo[0].criteria[i].duty %>
                            </span>
                          </td>
                        </tr>
                        <%} %>
                          <% } %>


                  </tbody>
                </table>
              </div>

            </div>
          </div>
        

    <!-- // rooms_criteria_set -->
    <div id="rooms_criteria_set" class="info-view" <% if (rooms==0) { %>
      style="display: block;"

      <% }else{ %>
        style="display: none;"
        <% } %>
          >
          <div >
            <div class="table_top">
              <div class="left">
                <a href="#" onclick="openRoomsCriteriaModal()" class="newadd">Add</a>
              </div>
              <div class="right-edit-delte">
                <div class="edit-delete">
                  <a href="#" onclick="examDateEditHandel(this)">
                    <!-- edit -->
                    <i class="fa-regular fa-pen-to-square"></i>
                  </a>
                  <a method="delete" href="#" onclick="openExamDateDeleteModal(this)">
                    <!-- delete -->
                    <i class="fa-regular fa-trash-can"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="info-title">
              <span>Daffodil International University (DSC)</span>
              <span> Department of Computer Science and Engineering (Day and Evening Program)</span>
              <span> Rooms Criteria Information, Spring 2023</span>
            </div>
          <!-- <div style="display: flex; justify-content: space-around; width: 100%;">
            <a href="#" onclick="openRoomsCriteriaModal()" class="newadd">Rooms Criteria set</a>
          </div> -->
          <div id="rooms-table" style="display: flex;justify-content: space-around;">
            <table id="dateTable">
              <thead>
                <tr id="tableHeader">
                  <th>Rooms Start Limits</th>
                  <th>Rooms End Limits</th>
                  <th>Invigilator No</th>
                </tr>
              </thead>
              <tbody id="roomsTable">
                <% if (roomsCriteriaInfo.length) { %>
                  <% for (var i=0; i < roomsCriteriaInfo[0].roomsCriteria.length ; i++) { %>
                    <tr id="">
                      <td class="roomsStartLimits">
                        <span>
                          <%= roomsCriteriaInfo[0].roomsCriteria[i].roomsStartLimits %>
                        </span>
                      </td>
                      <td class="roomsEndLimits">
                        <span>
                          <%= roomsCriteriaInfo[0].roomsCriteria[i].roomsEndLimits %>

                        </span>
                      </td>
                      <td class="invigilatorNumber">
                        <span>
                          <%= roomsCriteriaInfo[0].roomsCriteria[i].invigilatorNumber %>

                        </span>
                      </td>
                    </tr>
                    <%} %>
                      <% } %>


              </tbody>
            </table>
          </div>
        </div>
        </div>
    
  </div>
</section>



    <!-- manu open close -->
      <%- include(`../commonPartial/manuOpenCloseScript.ejs`); %>
      <%- include(`./addCriteria.ejs`); %>
      <%- include(`./addRoomsCriteria.ejs`); %>
      <%- include(`./EditInvigilatorCriteria.ejs`); %>


        <!-- ----------------------  -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script>
        </script>
        <!-- ---------------- -->
          <script>
            const Invigilator_criteria_set = document.querySelector("#Invigilator_criteria_set")
            const Invigilator_need_info = document.querySelector(".Invigilator_need_info")
            const rooms_criteria_set = document.querySelector("#rooms_criteria_set")
            const ExamDate = document.querySelector(".ExamDate")
            const SlotName = document.querySelector(".SlotName")
            const routine_table = document.querySelector("#routine-table")


            function openInvigilatorCriteria() {
              Invigilator_need_info.style.display = "none";
              Invigilator_criteria_set.style.display = "block";
              rooms_criteria_set.style.display = "none";
            }
            function openInvigilatorNeed() {
              Invigilator_need_info.style.display = "block";
              Invigilator_criteria_set.style.display = "none";
              rooms_criteria_set.style.display = "none";
            }
            function openRoomsCriteria() {
              Invigilator_need_info.style.display = "none";
              Invigilator_criteria_set.style.display = "none";
              rooms_criteria_set.style.display = "block";
            }

          </script>
          <script>
              
          </script>

          </body>

          </html>