<%- include(`../commonPartial/header.ejs`); %>
<%- include(`../commonPartial/menu.ejs`); %>

<section class="home-section">
  <div class="home-content">
    <div class="manageAddRoom-container">
      <div id="title">
        <h2>Manage Room</h2>
      </div>

      <!-- <div class="new-room-container new-room">
        <button class="newadd" onclick="openAddRoomsModal()"> Add New Room </button>
      </div> -->
      <div class="table_top">
        <div class="left">
          <button class="newadd" onclick="openAddRoomsModal()">Add New Room</button>
        </div>
        <div class="right">
          <div class="sub-right">
            <div class="right-sub-item">
              <span>Total rooms : </span><span><%= room_top_info.totalRooms %> (<%= room_top_info.totalLabRooms %>)</span>
            </div>
            <div class="right-sub-item">
              <span>Total number of seats : </span><span><%=  room_top_info.totalSeats   %></span>
            </div>
          </div>
          <div class="sub-right">
            <div class="right-sub-item">
              <span>Total theory rooms seats : </span><span><%=  room_top_info.totaTheorySeats   %></span>
            </div>
            <div class="right-sub-item">
              <span>Total lab rooms seats : </span><span><%=  room_top_info.totaLabSeats   %></span>
            </div>
          </div>

        </div>
      </div>
     

      <div id="rooms-Info">
        <!-- info title -->
        <div class="info-title">
          <span>Daffodil International University (DSC)</span>
          <span> Department of Computer Science and Engineering (Day and Evening Program)</span>
          <span>Room-wise Master Seat Plan, Spring 2023</span>
        </div>
        <!-- < pagination records per page > -->
        <div class="records_per_page">
          Records per page
          <select class="form-select" id="records_size" style="max-width: 80px;">
            <option selected value="5">5</option>
            <option  value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>
        <!-- < pagination records per page > -->
        <!-- < pagination records where show, id="showData" > -->
        <div id="showData" >

        <% for(let room of rooms){%>
        <!-- < pagination each records , class="pagination-data" ,end-> where each records end > -->
        <div class="pagination-data" style="display: block;">
          <!-- <tr> -->
          <div class="room-header">
            <div class="gap"></div>
            <div class="room-info">
              <span class="roomNumber"><%= room.roomnumber %></span>
              <span class="roomStatus"><%= room.roomstatus %></span>
            </div>
            <div class="edit-delete">
              <a href="#" onclick="roomEditHandel(this,'<%= room._id  %>')">
                <!-- edit -->
                <i class="fa-regular fa-pen-to-square"></i>
              </a>
              <a method="delete" href="#" onclick="openDeleteModal('<%= room.roomnumber %>')">
                <!-- delete -->
                <i class="fa-regular fa-trash-can"></i>
              </a>
          </div>
          </div>
          <div class="coloum-row-info">
            <div class="cloumn_info">
              <% for (var i=0; i < room.rowsNumber.length ; i++) { %>
              <div class="cloumn_row">
                <span class="cloumnName"><%= room.cloumn[i] %></span> %></span>
              </div>
              <% } %>
              <div class="cloumn_row">
                Total
              </div>
              <div class="cloumn_row">
                AV(Req)
              </div>
            </div>
            <div class="row-info">
              <% for (var i=0; i < room.rowsNumber.length ; i++) { %>
              <div class="cloumn_row">
                <span><span class="rowNumber"> <%= room.rowsNumber[i] %></span>
              </div>
              <% } %>
              <div class="cloumn_row">
                <span><%= room.totalcapasity %></span>
              </div>
              <div class="cloumn_row">
                <span><%= room.totalcapasity %></span>
              </div>
            </div>
            <!--  -->
            <p id="roomid" style="display: none;">
              <%= room._id %>
            </p>
          </div>
          <!-- </tr> -->
          <div class="even-odd-info">

            <div class="even-info">
              <% for (var i=0; i < room.rowsNumber.length ; i+=2) { %>
              <span><%= room.cloumn[i] %></span>,
              <% } %>
              ( <span><%= room.evencapasity %></span> )
            </div>
            <div class="odd-info">
              <% for (var i=1; i < room.rowsNumber.length ; i+=2) { %>
              <span><%= room.cloumn[i] %></span>,
              <% } %>
              ( <span><%= room.oddcapasity %></span> )
            </div>
          </div>
        </div>
        <%} %>

      </div>
        <!-- <pagination footer> -->     
        <div class="pagination_footer">
          <div class="showing_number_of">
            <div id="page_details"></div>
          </div>
          <div class="pagination" id="pagination">
            
          </div>
        </div>
        <!-- <pagination footer> -->     

      </div>
    </div>
  </div>
</section>




<!-- manu open close -->
<%- include(`../commonPartial/manuOpenCloseScript.ejs`); %>
<!-- must be add 
  1.pagination records per page
  2.pagination records where show, id="showData
  3.pagination each records , div.class="pagination-data" ,strat = which loop data pagination make this loop inner to start,end-> where each records end
  3. pagination footer
-->
<%- include(`../../common/pagination.ejs`); %>

<script>
//   // functiondataInformationResived(){}
//    // Get a reference to the div element, where show  genarate pganiantion information 
//   const showData = document.getElementById("showData");
//    // how many div has find this  
//   let total_records_div = document.querySelectorAll(".table-data");
//    // one page howmany records show 
//   let records_size = document.getElementById('records_size')
//   let records_per_page = 5;
//   let page_number = 1; 
//   let total_records = total_records_div.length
//   let total_pages = Math.ceil( total_records / records_per_page)
//   grnaratePagination()
//   DisplayRecords()
//   function DisplayRecords(){
//     let start_index  =  (page_number - 1) * records_per_page;
//     let end_index  =  start_index + (records_per_page );
//     if(end_index >=total_records){
//       end_index = total_records
//     }
//     let statement ='';
//     for (let index = start_index; index < end_index; index++) {
//       console.log("--------------",total_records_div[index].innerHTML)
//       // data_show_div.innerHTML = total_records_div[index].innerHTML
//       statement += `${total_records_div[index].innerHTML}`
      
//     }
//     // Set the HTML content into the div
// showData.innerHTML = statement;
// document.querySelectorAll(".pagination_link").forEach(item=>{
//   item.classList.remove('active')
// })
// if(page_number == 1){
//         document.getElementById('prvBtn').classList.add('active')
//       }
//       if(page_number == total_pages){
//         document.getElementById('nextBtn').classList.add('active')
//       }
// document.getElementById(`page${page_number}`).classList.add('active')
// document.getElementById('page_details').innerHTML =`Showing ${start_index + 1} to ${end_index} of ${total_records}`
// // if (page_number == 1 ) {
// //   document.getElementById('prvBtn').classList.add('active')
  
// // }
    
//   }


//   function grnaratePagination(){ 
//     let prv_btn = `<div class="pagination_item" aria-disabled="true">
//               <a class="pagination_link active" id='prvBtn' onclick='prvBtn()' href="javascript:void(0)" aria-disabled="true">Previous</a>
//             </div>`
//     let next_btn = `<div class="pagination_item">
//               <a class="pagination_link" id='nextBtn' onclick='nextBtn()' href="javascript:void(0)">Next</a>
//             </div>`
//             let pagination_page_number ='';
//             let activeClass ='';
//             for (let index = 1; index <= total_pages; index++) {
//               if (index==1) {
//                 activeClass='active'
//               } else {
//                 activeClass=''
//               }
//                 pagination_page_number += `<div class="pagination_item">
//               <a class="pagination_link ${activeClass} "  id='page${index}' onclick='goPage(${index})'  href="javascript:void(0)">${index}</a>
//             </div>`
//             }
//             document.getElementById('pagination').innerHTML = `${prv_btn} ${pagination_page_number} ${next_btn} `
            
//   }

//   function prvBtn(){
//     console.log("+++++++++++++++++++++++++++++++++++",page_number)
//     if (page_number > 1) {
//       page_number--;
//       DisplayRecords();
//     }
//   }
//   function nextBtn(){
//     console.log("+++++++++++++++++++++++++++++++++++",page_number,total_pages)
//     if (page_number < total_pages) {
//       page_number++;
//     DisplayRecords();
//     }
//   }
//   function goPage(pageNumber){
//     console.log("///////////////////////",typeof pageNumber)
//     console.log("///////////////////////",typeof parseInt(pageNumber) )
//     page_number = parseInt(pageNumber) 
//     DisplayRecords();
//   }
//    records_size.addEventListener('change',function(e){
//     records_per_page = records_size.value;
//     total_pages = Math.ceil( total_records / records_per_page)
//    page_number = 1; 
//     grnaratePagination()
//   DisplayRecords()
//    })


//   // data_show_div.innerHTML = "statement";
//   // let coloumsmax = document.getElementById("coloumsmax");
//   console.log("total_records_div", total_records_div)
//   console.log("total_records_div",typeof  total_records_div)
//   console.log("total_records_div", typeof records_per_page)
//   console.log("total_records_div", total_records_div.length,total_pages)
</script>

<script>
  // $(document).ready(function() {
  //   $('#roomTable').DataTable({
  //     "pagingType": "full_numbers",
  //   "oLanguage": {
  //     "oPaginate": {
  //       "sFirst": "First",
  //       "sPrevious": "Previous",
  //       "sNext": "Next",
  //       "sLast": "Last"
  //     }
  //   }
  //   });
  // });
</script>




<!-- add Rooms -->
<%- include(`./delete.ejs`); %>
<%- include(`./add.ejs`); %>
<%- include(`./edit.ejs`); %>
</body>

</html>