<%- include(`../../administratorPartial/commonPartial/header.ejs`); %>
<%- include(`../../administratorPartial/commonPartial/menu.ejs`); %>

<body>
  <!-- <img src="./img/Char 01 (1).png" alt="Slide 1"> -->

  <section class="home-section">
    <div class="home-content">
      <div class="student-main-container">
        <div id="title">
          <h2>Student Profile</h2>
        </div>
      <div class="student-sub-container">

        <div class="short-bio">

          <div class="profile-short">
            <div class="emp-img">
            <img src="<%= empProfileInfo[0].emp_ProfileImg ? empProfileInfo[0].emp_ProfileImg : '/uploads/user1.png'  %>" alt="profileImg">
           </div>
            <div class="profile-short-info">
              <span class="student-short-item"><%= empProfileInfo[0].employeeName %></span>
              <span class="student-short-item"><%= empProfileInfo[0].employeeId %></span>
              <span class="student-short-item"><%= empProfileInfo[0].employeeEmail %></span>
            </div>
            <div class="profile-edit">
                <a class="profile-edit_link" id="profile-edit" href="/employee/UpdateProfile">Prodile Edit</a>
            </div>
          </div>
        </div>

        <div class="basicInformation">
            <div class="basicInformation-title">
                Basic Information
            </div>
            <div class="basicInformation-all-value">
              <div class="basicInformation-item fullName">
                <p class="title">Full Name :</p>
                <p class="value"><%= empProfileInfo[0].employeeName ? empProfileInfo[0].employeeName : '- -' %></p>
              </div>
              <div class="basicInformation-item fullName">
                <p class="title">Student ID:</p>
                <p class="value"><%= empProfileInfo[0].employeeId ?  empProfileInfo[0].employeeId : '- -' %></p>
              </div>
              <div class="basicInformation-item fullName">
                <p class="title">Email :</p>
                <p class="value"><%= empProfileInfo[0].employeeEmail ? empProfileInfo[0].employeeEmail : '- -' %></p>
              </div>
              <div class="basicInformation-item fullName">
                <p class="title">Mobile :</p>
                <p class="value"><%= empProfileInfo[0].employeePhoneNumber ? empProfileInfo[0].employeePhoneNumber : '- -' %></p>
              </div>
              <div class="basicInformation-item fullName">
                <p class="title">Initial :</p>
                <p class="value"><%= empProfileInfo[0].employeeInitial ?  empProfileInfo[0].employeeInitial : '- -'%></p>
              </div>
              <div class="basicInformation-item fullName">
                <p class="title">Designation :</p>
                <p class="value"><%= empProfileInfo[0].employeeDesignation ?  empProfileInfo[0].employeeDesignation : '- -'%></p>
              </div>
              <div class="basicInformation-item fullName">
                <p class="title">Program :</p>
                <p class="value"><%= empProfileInfo[0].employeeProgram ? empProfileInfo[0].employeeProgram :'- -' %></p>
              </div>
              <div class="basicInformation-item fullName">
                <p class="title">Department :</p>
                <p class="value"><%= empProfileInfo[0].employeeDepartment ? empProfileInfo[0].employeeDepartment :'- -' %></p>
              </div>
              <div class="basicInformation-item fullName">
                <p class="title">Faculty :</p>
                <p class="value" class="value"><%= empProfileInfo[0].employeeFaculty ? empProfileInfo[0].employeeFaculty :'- -' %></p>
              </div>
            </div>
          </div>

        <div class="academics_info">
            <div class="academics_info-title">Academics Information</div>
            <div class="academics_info-table">
            <% for (const [index, emp_courseInfo] of empProfileInfo[0].emp_courseInfo.entries()) { %>
                <% if (index == 0) { %>
                    <div class="academics_info-header">
                          <div class="academics_info-header-title">Course Title</div>
                          <div class="academics_info-header-title">Course Code</div>
                          <div class="academics_info-header-title">Course Cradit</div>
                          <div class="academics_info-header-title">Course Section</div>
                          <div class="academics_info-header-title">Course TC Initial</div>
                      </div>
                 
                <% } %>
                <div class="academics_info-item">             
                      <div class="academics_info-value"><%= emp_courseInfo.emp_courseCode %></div>
                      <div class="academics_info-value"><%= emp_courseInfo.emp_courseName %></div>
                      <div class="academics_info-value"><%= emp_courseInfo.emp_courseCredit %></div>               
                      <div class="academics_info-value"><%= emp_courseInfo.emp_batch_tek %></div>               
                      <div class="academics_info-value"><%= emp_courseInfo.emp_section %></div>               
                   </div>
              <% } %>
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <!-- frofile of your page  -->
  <!-- frofile of your page  -->

  <!-- manu open close -->
  <%- include(`../../administratorPartial/commonPartial/manuOpenCloseScript.ejs`); %>