
      <body>
        <div class="sidebar close">
          <div class="logo-details">
            <img style="height: 45px; width: 50px; margin: 16px;" src="/imges/daffodil-international-university-logo.png" alt="">
            <span class="logo_name">DIU EMS</span>
          </div>
          <ul class="nav-links">
            <!--  -->
            <li>
              <a href="#">
                <i class='bx bx-grid-alt ' ></i>
                <span class="link_name">Dashboard</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="/Administrator/dashboard">Dashboard</a></li>
              </ul>
            </li>
            <!--  -->
            <% if (userPagesPermissions.length > 0) { %>
              <% if (userPagesPermissions[0].includes('Rooms page') ||  userPagesPermissions[0].includes('Subject page') ) { %>
                <li>
                  <div class="iocn-link">
                    <a href="#">
                      <i class='bx bx-collection ' ></i>
                      <span class="link_name">Master Plan</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow' ></i>
                  </div>
                  <ul class="sub-menu">
                    <li><a class="link_name" href="/Administrator/rooms">Master Plan</a></li>
                    <% if (userPagesPermissions[0].includes('Rooms page')  ) { %>
                            <li><a href="/Administrator/rooms">Rooms Info</a></li>
                    <% } %>
                    <% if ( userPagesPermissions[0].includes('Subject page') ) { %>
                          <li><a href="/Administrator/Subjects">Subject Info</a></li>
                    <% } %>

                  </ul>
                </li>
            <% } %>
            <% } %>
            <!--  -->
            <% if (userPagesPermissions.length > 0) { %>
              <% if (userPagesPermissions[0].includes('Exam Dates page') || userPagesPermissions[0].includes('Exam Routine page') || userPagesPermissions[0].includes('Seat Plan page')) { %>
                <li>
                  <div class="iocn-link">
                    <a href="#">
                      <i class='bx bx-book-alt' ></i>
                      <span class="link_name">Draught Routine</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow' ></i>
                  </div>
                  <ul class="sub-menu">
                    
                    <li><a class="link_name" href="#">Draught Routine</a></li>
                    <li><a href="/Administrator/soltTime">Slot time</a></li>
                     <% if ( userPagesPermissions[0].includes('Exam Dates page') ) { %>
                        <li><a href="/Administrator/examdate">Exam Date</a></li>
                    <% } %>
                     <% if ( userPagesPermissions[0].includes('Exam Routine page')) { %>
                        <li><a href="/Administrator/Routine/routine">Routine</a></li>
                    <% } %>
                     <% if ( userPagesPermissions[0].includes('Seat Plan page')) { %>
                         <li><a href="/Administrator/Routine/seatPlan">Seat plan</a></li>
                    <% } %>
                         <li><a href="/Administrator/Routine/seatPlan/subjectWiseRoom">Subject wise Room</a></li>
                         <li><a href="/Administrator/Routine/seatPlan/subjectWiseRoomDetails">Subject wise Room details</a></li>
                  </ul>
                </li>
            <% } %>
            <% } %>
            <!--  -->
            <% if (userPagesPermissions.length > 0) { %>
              <% if (userPagesPermissions[0].includes('Invigilator Criteria page') || userPagesPermissions[0].includes('Reg: Invigilator page') ||  userPagesPermissions[0].includes('Invigilator Duty page') || userPagesPermissions[0].includes('Duty Roster page')) { %>
                <li>
                  <div class="iocn-link">
                  <a href="#">
                    <i class='bx bx-pie-chart-alt-2' ></i>
                    <span class="link_name">Invigilators</span>
                  </a>
                  <i class='bx bxs-chevron-down arrow' ></i>
                  </div>
                  <ul class="sub-menu">
                    <li><a class="link_name" href="/Administrator/Routine/invigilatorCriteria">Invigilators</a></li>
                      <% if (userPagesPermissions[0].includes('Invigilator Criteria page'))  { %>
                            <li><a href="/Administrator/Routine/invigilatorCriteria">Invigilator Criteria</a></li>
                      <% } %>
                      <% if (userPagesPermissions[0].includes('Reg: Invigilator page'))  { %>
                            <li><a href="/administrator/invigilator">Reg: Invigilator</a></li>
                      <% } %>
                      <% if (userPagesPermissions[0].includes('Invigilator Duty page'))  { %>
                            <li><a href="/Administrator/duty">Invigilator Duty</a></li>
                      <% } %>
                      <% if (userPagesPermissions[0].includes('Duty Roster page'))  { %>
                            <li><a href="/Administrator/dutyRoster">Duty Roster</a></li>
                      <% } %>
                    <li><a href="#">Attendence</a></li>
                  </ul>
                </li>
            <% } %>
            <% } %>
            <!--  -->
            <% if (userPagesPermissions[0].role == 'Administrator' || userPagesPermissions[0].role == 'Co-administrator' ) { %>
                <li>
                  <div class="iocn-link">
                  <a href="#">
                    <span class="material-symbols-rounded googleapis">dynamic_feed</span>
                    <span class="link_name">Setting</span>
                  </a>
                  <i class='bx bxs-chevron-down arrow' ></i>
                  </div>
                  <ul class="sub-menu">
                    <li><a class="link_name" href="">Setting</a></li>
                    <% if (userPagesPermissions[0].role == 'Administrator' ) { %>
                       <li><a href="/administrator/userPermissions">User Permissions</a></li>
                    <% } %>
                    <li><a href="/Administrator/settings/BatchSubjectInfo">Batch and Subject Information</a></li>
                    <li><a href="#">Attendence</a></li>
                  </ul>
                </li>
            <% } %>
            <!--  -->
            <li>
              <a href="#">
                <i class='bx bx-history'></i>
                <span class="link_name">History</span>
              </a>
              <ul class="sub-menu blank">
                <li><a class="link_name" href="#">History</a></li>
              </ul>
            </li>
      
      
      
          
            <li>
          <div class="profile-details">
            <div class="profile-content">      
              <img src="<%= loggedInUser.logUser_profileImg ? loggedInUser.logUser_profileImg : '/imges/user1.png'  %>" alt="profileImg">
            </div>
            <div class="name-job">
              <div class="profile_name"><p><%= loggedInUser.logUser_name ? loggedInUser.logUser_name : ''  %></p></div>
              <div class="job"><%= loggedInUser.logUser_desisgnation ? loggedInUser.logUser_desisgnation : ''  %></div>
            </div>
            <a href="/logOut"><i class='bx bx-log-out' ></i></a>   
          </div>
            </li>
      </ul>
        </div>
      
        <section class="home-section">
          <nav>
            <div class="sidebar-button">
              <i class="bx bx-menu sidebarBtn"></i>
              <span class="dashboard">Dashboard</span>
            </div>
            <div class="profile-details">
              <img src="<%= loggedInUser.logUser_profileImg ? loggedInUser.logUser_profileImg : '/imges/user1.png'  %>" alt="profileImg">
              <span class="admin_name"><%= loggedInUser.logUser_name ? loggedInUser.logUser_name : ''  %></span>
              <i class="bx bx-chevron-down"></i>

              <div class="profile-dropdown-options">
                <div class="profile-dropdown-options-sub">
                  <div class="profile-details-dropdown">
                    <img src="<%= loggedInUser.logUser_profileImg ? loggedInUser.logUser_profileImg : '/imges/user1.png'  %>" alt="profileImg">
                    <div class="uer-details">
                      <span class="admin_name"><%= loggedInUser.logUser_name ? loggedInUser.logUser_name : ''  %></span>
                      <span class="admin_name"><%= loggedInUser.logUser_id ? loggedInUser.logUser_id : ''  %></span>
                      <span class="admin_name"><%= loggedInUser.logUser_emali ? loggedInUser.logUser_emali : ''  %></span>
                      <span class="admin_name"><%= loggedInUser.logUser_desisgnation ? loggedInUser.logUser_desisgnation : ''  %></span>
                    </div>
                  </div>
                  <div class="profile-dropdown-item">
                    <a href="/employee/profile"> <span class="material-symbols-outlined">badge</span> My Profile</a> 
                  </div>
                  <div class="profile-dropdown-item">
                    <a href="/employee/UpdateProfile">  <span class="material-symbols-outlined">settings_account_box</span> Profile Update</a>
                  </div>
                  <div class="profile-dropdown-item">
                    <a href="/logOut"> <i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                  </div>  
                </div>
               
              </div>
            </div>
            
          </nav>
          
        </section>