<%- include(`../commonPartial/header.ejs`); %>
<%- include(`../commonPartial/menu.ejs`); %>
<section class="home-section">
  <div class="home-content">
    <div class="manageAddRoom-container">
      <div id="title">
        <h2>Manage Create Seat Plan </h2>
      </div>
      <div class="new-seatPlan-container new-room">
        <a href="#" onclick="createSeatPlan()" class="newadd create-seat-plan loading loading-spinner-btn"> <span class="loading-spinner-btn-text">Create Seat Plan</span></a>
        <div style="display: flex;">
          <!-- <div class="searchOpen">
                        <a href="#" onclick="SearchOpen()" class="newadd">Search</a>
                    </div> -->

          <div class="seatPlan_search_box" style="display: none;">
            <div style="display: flex;">
              <form style="display: flex;" method="post" action="/login" id="dateSlotSearch">
                <input class="ExamDate" type="date" placeholder="Enter Date" name="search_date" style="margin : 0px 2.5px; padding: 10px 10px; gap: 0;" />
                <input class="SlotName" style="margin : 0px 2.5px; padding: 10px 10px;" type="text" placeholder="Enter Solt Name" name="search_solt" />
                <button type="submit"><a type="submit" style="margin: 0px 5px;" href="#" onclick="" class="newadd">Search</a></button>
              </form>

              <a onclick="SearchCancel()" href="#" onclick="" class="newadd" style="background: linear-gradient(to right, #f7b29c 0%, #f6825e 100%);">Cancel</a>
            </div>

          </div>
        </div>

      </div>
      <div id="table">
                <!-- info title -->
                <div class="info-title">
                  <span>Daffodil International University (DSC)</span>
                  <span> Department of Computer Science and Engineering (Day and Evening Program)</span>
                  <span>Final Examination Seat Plan, Spring 2023</span>
                </div>
                <!-- new table -->
                          <!-- <tr> -->
        <!-- < pagination records per page > -->
        <div class="records_per_page">
          Records per page
          <select class="form-select" id="records_size" style="max-width: 80px;">
            <option selected value="5">5</option>
            <option  value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>
        <!-- < pagination records per page > -->
        <!-- < pagination records where show, id="showData" > -->
        <div id="showData" >
            <% for(var seatPlan_index=0; seatPlan_index < seatPlanInfo.length ; seatPlan_index++){%>
                      <!-- < pagination each records , class="pagination-data" ,end-> where each records end > -->
            <div class="pagination-data" style="display: block;">
              <div class="seatPlan-header">
                <div class="seatPlan-roomInfo seatPlan-date">
                  Date : <%= seatPlanInfo[seatPlan_index].Date.toLocaleDateString(undefined, { day: 'numeric', month: 'long', year: 'numeric' })   %> 
                </div>
                <div class="seatPlan-roomInfo seatPlan-slot">
                  slot :<%= seatPlanInfo[seatPlan_index].slot %>
                </div>
                <div class="seatPlan-roomInfo seatPlan-roomNumber">
                  Room Number :<%= seatPlanInfo[seatPlan_index].roomNumber %>
                </div>
              </div>
              <div class="seatplan-coloum-row-info">
                <div class="cloumn_info-show">
                  <% for (var i=0; i < seatPlanInfo[seatPlan_index].columnInfo.length ; i++) { %>
                    <div class="cloumn_info-item">
                      <%= seatPlanInfo[seatPlan_index].columnInfo[i].columnName %>
                    </div>
                    <% } %>
                </div>            
                <div class="course-info">
                    <% for (var i=0; i < seatPlanInfo[seatPlan_index].columnInfo.length ; i++) { %>
                      <div class="course-info-item">
                    <% for (var subject_index=0; subject_index < seatPlanInfo[seatPlan_index].columnInfo[i].subjectInfo.length ; subject_index++) { %>
                      <%= seatPlanInfo[seatPlan_index].columnInfo[i].subjectInfo[subject_index].subjectCode %>: <%= seatPlanInfo[seatPlan_index].columnInfo[i].subjectInfo[subject_index].subjectName %>               
                      <br>
                      <% } %>
                    <!-- batch section teacher-initaial -->
                    <% for (var subject_index=0; subject_index < seatPlanInfo[seatPlan_index].columnInfo[i].subjectInfo.length ; subject_index++) { %>
                      <% if (subject_index > 0) { %>
                        +     <%= seatPlanInfo[seatPlan_index].columnInfo[i].subjectInfo[subject_index].batch %> - <%= seatPlanInfo[seatPlan_index].columnInfo[i].subjectInfo[subject_index].sectionName %> (<%= seatPlanInfo[seatPlan_index].columnInfo[i].subjectInfo[subject_index].teacherInnitial %>)
                      <% }else{ %>
                        <%= seatPlanInfo[seatPlan_index].columnInfo[i].subjectInfo[subject_index].batch %> - <%= seatPlanInfo[seatPlan_index].columnInfo[i].subjectInfo[subject_index].sectionName %> (<%= seatPlanInfo[seatPlan_index].columnInfo[i].subjectInfo[subject_index].teacherInnitial %>)
                      <% } %>
                    <% } %>
                    <!--  -->
                    </div>
                    <% } %>
                  </div>
                  <div class="course-info">
                    <% for (var i=0; i < seatPlanInfo[seatPlan_index].columnInfo.length ; i++) { %>
                      <div class="numberOfSeat course-info-item">
                    <% for (var subject_index=0; subject_index < seatPlanInfo[seatPlan_index].columnInfo[i].subjectInfo.length ; subject_index++) { %>
                      <% if (subject_index > 0) { %>
                        + <%= seatPlanInfo[seatPlan_index].columnInfo[i].subjectInfo[subject_index].numberOfStudent %>
                      <% }else{ %>
                        <%= seatPlanInfo[seatPlan_index].columnInfo[i].subjectInfo[subject_index].numberOfStudent %>
                      <% } %>
                    <% } %>
                    </div>
                    <% } %>
                  </div>

              </div>
            </div>
            <% } %>
        </div>
        <!-- <pagination footer> -->     
          <div class="pagination_footer">
            <div class="showing_number_of">
              <div id="page_details"></div>
            </div>
            <div class="pagination" id="pagination">
              
            </div>
          </div>
          <!-- <pagination footer> --> 
    </div>
  </div>
</div>
</section>


<script>
  // // search related
  const searchOpen = document.querySelector(".searchOpen")
  const seatPlan_search_box = document.querySelector(".seatPlan_search_box")
  const ExamDate = document.querySelector(".ExamDate")
  const SlotName = document.querySelector(".SlotName")
  const routine_table = document.querySelector("#routine-table")


  function SearchOpen() {
    searchOpen.style.display = "none";
    seatPlan_search_box.style.display = "block";
  }

  function SearchCancel() {
    searchOpen.style.display = "block";
    seatPlan_search_box.style.display = "none";
    // reload the page after 1 second
    setTimeout(() => {
      location.reload();
    }, 100);
  }
  //  async function SearchStart(){
  console.log("outer")

  dateSlotSearch.onsubmit = async function(event) {
    event.preventDefault();

    console.log("inner")
    // addStuddentForm.onsubmit =async function(event){
    //     event.preventDefault();
    const dateSlotSearch = document.querySelector("#dateSlotSearch")
    const search_after_table = document.querySelector("#search_after_table")
    const formData = new FormData(dateSlotSearch);
    const response = await fetch("/Administrator/Routine/seatPlan/DateAndSlot", {
      method: "POST",
      body: formData
    });
    let result = await response.json();
    console.log("--", typeof(result))
    console.log("--", result)

    //

    //
    console.log("--", typeof(result))
    if (result === null || result === undefined || result.length === 0) {
      // Array is null, undefined, or empty
      alert("Not Find Any Data!!!")
    } else {
      console.log("search data", result);
      // routine_table.style.display = "none";

      //--------------------------------------------------------------------------------------
      //     setTimeout(() => {
      //     location.reload();
      // }, 100);


      //--------------------------------------------------------------------------------------
    }



  }

  // search related
  const createSeatPlanTost = Toastify({
    text: "User was deleted successfully!",
    duration: 3000,
  });
//   =============================================
// create seatPlan 
// ============================================= 
let isFetching = false; // Flag to track whether a fetch operation is in progress
  async function createSeatPlan() {
    if (isFetching) {
      return; // If a fetch operation is in progress, exit the function
    }
    isFetching = true; // Set the flag to true to indicate that a fetch operation is in progress
    
    console.log("run this button")
    const btn = document.querySelector(".create-seat-plan");
    btn.classList.add("button--loading");
    btn.classList.remove("loading-spinner-btn");
    btn.setAttribute("disabled", "true");
    let response = await fetch("/Administrator/Routine/createSeatPlan", {
      method: "post",
    });
    let result = await response.json();
    // alert("result");

    console.log("result", result);

    if (result.message) {
      // errors
      alert(result.message);
      console.log("working go")
    } else {
      // success
      console.log("close");
      // successToast.showToast();
      createSeatPlanTost.showToast();
      isFetching = false;
      btn.classList.add("loading-spinner-btn");
      btn.classList.remove("button--loading");
      // reload the page after 1 second
      setTimeout(() => {
        location.reload();
      }, 500);

    }
  }

</script>
<!-- =============================================
pagination 
============================================= -->
<script>
$(document).ready(function() {
  // DataTable initialization
  $('#seatPlan_table').DataTable({
    "order": [[0, "desc"]], // Sorts the first column in descending order
    "pagingType": "full_numbers",
    "oLanguage": {
      "oPaginate": {
        "sFirst": "First",
        "sPrevious": "Previous",
        "sNext": "Next",
        "sLast": "Last"
      }
    },
    "lengthMenu": [5, 10, 25, 50,100] // Set the length options
  });
});

  </script>
  
<%- include(`../commonPartial/manuOpenCloseScript.ejs`); %>
<%- include(`../../common/pagination.ejs`); %>
