

<%- include(`../common/header.ejs`); %>
<section class="home-section">
  <div class="home-content">
    <%- include(`../common/landingMenu.ejs`); %>

    <div class="manage-container">
      <div id="title">
        <h2>Manage News</h2>
      </div>
    
      <div id="rooms-Info">
        <div class="table_top">
          <div class="left">
            <% if (role === 'admin') { %>
              <button class="newadd" onclick="openAddModal()">Add New News</button>
          <% } else { %>
             
          <% } %>
            
          </div>
          
        </div>
  


        <div id="showData" >
          <div class="user-info-level">
            <span class="userNameLevel">Titlr</span>
            <span class="userEmailLevel">Body</span>
            <% if (role === 'admin') { %>
              <span class="editLevel">edit</span>
          <% } else { %>
            <span class="editLevel"></span>
          <% } %>
            
          </div>
          
        <% for(let one_news of news){%>
        <div class="pagination-data" style="display: block;">
          <div class="user_header">
            <div class="user-info">
              <span class="userName newsTitle"><%= one_news.title %></span>
              <span class="userEmail newsBody"><%= one_news.body %></span>
              <% if (role === 'admin') { %>
                <div class="edit-delete">
                  <a href="#" onclick="editHandel(this,'<%= one_news._id   %>')">
                    <!-- edit -->
                    <i class="fa-regular fa-pen-to-square"></i>
                  </a>
                  <a method="delete" href="#" onclick="openDeleteModal('<%=one_news._id %>')">
                    <!-- delete -->
                    <i class="fa-regular fa-trash-can"></i>
                  </a>
              </div>
            <% } else { %>
              <div class="edit-delete"></div>
            <% } %>
              
            </div>
          </div>
          
        </div>
        <%} %>

      </div>   

      </div>
    </div>
  </div>
</section>


<!-- add news -->
<%- include(`./delete.ejs`); %>
<%- include(`./add.ejs`); %>
<%- include(`./edit.ejs`); %>
</body>

</html>