<body>
    <div class="sidebar close">
      <div class="logo-details">
        <img style="height: 45px; width: 50px; margin: 16px;" src="/imges/daffodil-international-university-logo.png" alt="">
        <span class="logo_name">DIU EMS</span>
      </div>
      <ul class="nav-links">
        <!--  -->
        <li>
          <a href="#">
            <i class='bx bx-grid-alt ' ></i>
            <span class="link_name">Dashboard</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="/Invigilator/dashboard">Dashboard</a></li>
          </ul>
        </li>
        <!--  -->
            <li>
                <a href="#">
                  <i class='bx bx-collection ' ></i>
                  <span class="link_name">Routine</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              <ul class="sub-menu">
                <li><a class="link_name" href="/Invigilator/Routine">Routine</a></li>
                    <li><a href="/Invigilator/Routine">Routine</a></li>
                    <li><a href="/Invigilator/SeatPlan">Seat Plan</a></li>
                    <li><a href="/Invigilator/IndividualRoom">Individual Room</a></li>

              </ul>
            </li>

        <!--  -->
            <li>
              <div class="iocn-link">
                <a href="#">
                  <i class='bx bx-book-alt' ></i>
                  <span class="link_name">Short Seat Plan</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                
                <li><a class="link_name" href="/Invigilator/ShortSeatPlan">Short Seat Plan</a></li>
                    <li><a href="/Invigilator/ShortSeatPlan">Short Seat Plan</a></li>
                    <!-- <li><a href="/Administrator/examdate">Subject Wise Room Details</a></li> -->
              </ul>
            </li>

        <!--  -->
            <li>
              <div class="iocn-link">
              <a href="#">
                <i class='bx bx-pie-chart-alt-2' ></i>
                <span class="link_name">Duty</span>
              </a>
              <i class='bx bxs-chevron-down arrow' ></i>
              </div>
              <ul class="sub-menu">
                <li><a class="link_name" href="/Administrator/Routine/invigilatorCriteria">Duty </a></li>
                        <li><a href="/Administrator/Routine/invigilatorCriteria">Duty Roster</a></li>
              </ul>
            </li>
      
        <li>
      <div class="profile-details">
        <div class="profile-content">      
          <img src="<%= loggedInUser.logUser_profileImg ? loggedInUser.logUser_profileImg : '/imges/user1.png'  %>" alt="profileImg">
        </div>
        <div class="name-job">
          <div class="profile_name"><p><%= loggedInUser.logUser_name ? loggedInUser.logUser_name : ''  %></p></div>
          <div class="job"><%= loggedInUser.logUser_desisgnation ? loggedInUser.logUser_desisgnation : ''  %></div>
        </div>
        <a href="/logOut"><i class='bx bx-log-out' ></i></a>   
      </div>
        </li>
  </ul>
    </div>
  
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class="bx bx-menu sidebarBtn"></i>
          <span class="dashboard">Dashboard</span>
        </div>
        <div class="profile-details">
          <img src="<%= loggedInUser.logUser_profileImg ? loggedInUser.logUser_profileImg : '/imges/user1.png'  %>" alt="profileImg">
          <span class="admin_name"><%= loggedInUser.logUser_name ? loggedInUser.logUser_name : ''  %></span>
          <i class="bx bx-chevron-down"></i>

          <div class="profile-dropdown-options">
            <div class="profile-dropdown-options-sub">
              <div class="profile-details-dropdown">
                <img src="<%= loggedInUser.logUser_profileImg ? loggedInUser.logUser_profileImg : '/imges/user1.png'  %>" alt="profileImg">
                <div class="uer-details">
                  <span class="admin_name"><%= loggedInUser.logUser_name ? loggedInUser.logUser_name : ''  %></span>
                  <span class="admin_name"><%= loggedInUser.logUser_id ? loggedInUser.logUser_id : ''  %></span>
                  <span class="admin_name"><%= loggedInUser.logUser_emali ? loggedInUser.logUser_emali : ''  %></span>
                  <span class="admin_name"><%= loggedInUser.logUser_desisgnation ? loggedInUser.logUser_desisgnation : ''  %></span>
                </div>
              </div>
              <div class="profile-dropdown-item">
                <a href="/employee/profile"> <span class="material-symbols-outlined">badge</span> My Profile</a> 
              </div>
              <div class="profile-dropdown-item">
                <a href="/employee/UpdateProfile">  <span class="material-symbols-outlined">settings_account_box</span> Profile Update</a>
              </div>
              <div class="profile-dropdown-item">
                <a href="/logOut"> <i class="fa-solid fa-right-from-bracket"></i> Logout</a>
              </div>  
            </div>
           
          </div>
        </div>
        
      </nav>
      
    </section>