<%- include(`../../common/landingHeader.ejs`); %>
  <!--    navbar ends    -->
  <section class="menu-item" id="section-1">
    <!-- <div class="container menu-container">
      <div class="navbar">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">
              <img src="/imges/landingPages_img/logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class='bx bx-menu'></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="#s1">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#s31">Help Center</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#s81">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div> -->
    <%- include(`../../common/landingMenu.ejs`); %>
    <main class="main-content">
      <section class="slideshow">
        <div class="slideshow-inner">
          <div class="slides">
            <div class="slide is-active ">
              <div class="slide-content">
                <div class="caption">
                  <div class="title">DIU Examination Management System</div>
                  <div class="text">
                    <p>Automates exam management tasks to reduce workload, improve efficiency, and provide transparency. </p>
                  </div> 
                  <a href="/login" class="btn">
                    <span class="btn-inner">Get Started</span>
                  </a>
                </div>
              </div>
              <div class="image-container"> 
                <img src="/imges/landingPages_img/DIU-Campus 1.png" alt="" class="image" />
              </div>
            </div>
            <div class="slide">
              <div class="slide-content">
                <div class="caption">
                  <div class="title">DIU Examination Management System</div>
                  <div class="text">
                    <p>Automates exam scheduling and seat allocation.</p>
                  </div> 
                  <a href="/login" class="btn">
                    <span class="btn-inner">Get Started</span>
                  </a>
                </div>
              </div>
              <div class="image-container">
                <img src="/imges/landingPages_img/DIU-Campus 2.png" alt="" class="image" />
              </div>
            </div>
            <div class="slide">
              <div class="slide-content">
                <div class="caption">
                  <div class="title">DIU Examination Management System</div>
                  <div class="text">
                    <p>Makes exam schedules more transparent and predictable for students.</p>
                  </div> 
                  <a href="/login" class="btn">
                    <span class="btn-inner">Get Started</span>
                  </a>
                </div>
              </div>
              <div class="image-container">
                <img src="/imges/landingPages_img/DIU-Campus 3.png" alt="" class="image" />
              </div>
            </div>
            <!-- <div class="slide">
              <div class="slide-content">
                <div class="caption">
                  <div class="title">Slide title 4</div>
                  <div class="text">
                    <p>Slide description 4</p>
                  </div> 
                  <a href="#" class="btn">
                    <span class="btn-inner">Get Started</span>
                  </a>
                </div>
              </div>
              <div class="image-container"> 
                <img src="https://www.alixbdanthenay.fr/wp-content/uploads/2016/11/20mars17-sans-typo.jpg" alt="" class="image" />
              </div>
            </div> -->
          </div>
          <div class="pagination">
            <div class="item is-active"> 
              <span class="icon">1</span>
            </div>
            <div class="item">
              <span class="icon">2</span>
            </div>
            <div class="item">
              <span class="icon">3</span>
            </div>
            <!-- <div class="item">
              <span class="icon">4</span>
            </div> -->
          </div>
          <div class="arrows">
            <div class="arrow prev">
              <span class="svg svg-arrow-left">
                <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
                <span class="alt sr-only"></span>
              </span>
            </div>
            <div class="arrow next">
              <span class="svg svg-arrow-right">
                <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
                <span class="alt sr-only"></span>
              </span>
            </div>
          </div>
        </div> 
      </section>
    </main>
  </section>
  
  <!-- 
    ============================================================
    About diu
    ============================================================
   -->
  <section  id="section-2">
    <div class="container ">
      <div class="row">
          <div class="about-sub-container left col-md-6 col-lg-6 col-sm-12">
              <!-- Content for the first division -->
              <h2>About DIU EMS</h2>
              <p>DIU EMS stands for Daffodil International University Exam Management System. 
                It is an online system that automates many of the tasks involved in exam management, 
                such as room allocation, seat allocation, subject allocation, seat plan generation, 
                routine publication, and invigilator duty roster generation.</p>
                <p>The system publishes the exam routine online, so students can easily view their schedule and plan accordingly.
                  The DIU Exam Management System ensures fair allocation of exam resources and offers a central platform for students 
                  to communicate with the exam office, streamlining information access and enhancing efficiency.
                </p>
          </div>
          <div class="about-sub-container col-md-6 col-lg-6 col-sm-12">
              <!-- Content for the second division -->
              <div class="about-image-container"> 
                <img src="/imges/landingPages_img/Char 15 (1).png" alt="" class="image" />
              </div>
          </div> 
      </div> 
  </div>
  </section>
  <!-- 
    ============================================================
    section-3
    ems Committee
    ============================================================
   -->
  <section  id="section-3">
    <div class="container pt-5 mt-5">
      <div class="row justify-content-center">
          <div class="col-12 d-flex flex-column align-items-center justify-content-center">
            <h2>Examination management system Committee</h2>
            <p class="sub-dis">For any queries regarding project/internship contact the above mentioned persons. For any other queries you may contact SIT Office .</p>
            <div class="dropdown">
              <input class="employeeDepartment dropdown-toggle dropdown-toggle-emp-profile "  type="text" placeholder="Select Department" type="text" name="employeeDepartment" readonly>
              <i class="bx bx-chevron-down"></i>
              <div class="dropdown-content dropdown-content-size">
                <div class="dropdown-option">Department of Computer Science and Engineering</div>
              </div>
            </div>
          </div>
  
          <div class="container committee-ditalis">
            <div class="row">
                <!-- First column (6 columns on md and lg, 12 columns on sm) -->
                <div class="col-sm-12 mb-5 mb-sm-0 col-md-6 col-lg-6 committee-card">
                  <div class="invalid-member container d-flex flex-column">
                      <div class="row">
                          <div class="col-sm-5 col-md-5 col-lg-5">
                              <div class="committee-image-container">
                                  <img src="/imges/landingPages_img/DIU-Campus 1.png" alt="" class="image">
                              </div>
                          </div>
                          <div class="col-sm-7 col-md-7 col-lg-7 p-4">
                              <h5>Shah Md. Tanvir Siddiquee</h5>
                              <p>Assistant Professor</p>
                              <p>tanvir.cse@diu.edu.bd</p>
                              <p></p>
                          </div>
                      </div>
                  </div>
              </div>
              
                <!-- Second column (6 columns on md and lg, 12 columns on sm) -->
                <div class="col-sm-12 mt-5 mt-sm-0 col-md-6 col-lg-6 committee-card">
                    <div class="invalid-member container d-sm-flex flex-sm-column">
                        <div class="row">
                            <!-- 5 columns on sm, md, and lg screens -->
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <div class="committee-image-container">
                                    <img src="/imges/landingPages_img/Char 15 (1).png" alt="" class="image">
                                </div>
                            </div>
                            <!-- 7 columns on sm, md, and lg screens -->
                            <div class="col-sm-7 col-md-7 col-lg-7 p-4">
                                <h5>Shah Md. Tanvir Siddiquee</h5>
                                <p>Assistant Professor</p>
                                <p>tanvir.cse@diu.edu.bd</p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
      </div>
    </div>
  </section>
    <!-- 
    ============================================================
    section 4
    Frequently Asked Questions
    ============================================================
   -->
  <section id="section-4">
    <div class="container">
      <div class="row">
          <div class="col-12 text-center">
            <h2>Frequently Asked Questions</h2>
              <!-- Content for the first div -->
          </div>
          <div class="col-12">
              <!-- Content for the second div -->
              <div class="blog-slider">
                <div class="blog-slider__wrp swiper-wrapper">
                  <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                      
                      <img src="/imges/landingPages_img/exam1.png" alt="">
                    </div>
                    <div class="blog-slider__content">
                      <!-- <span class="blog-slider__code">26 December 2019</span> -->
                      <div class="blog-slider__title">How to register in EMS ?</div>
                      <div class="blog-slider__text">To register in the DIU Exam Management System (EMS), you will need to follow these steps:

                        Go to the DIU website and log in to your student portal.
                        Click on the "Register" button.
                        Enter your DIU student Email and password.
                        Click on the "Submit" button.
                    
                    Once you have registered, you will be able to access your exam schedule, view your seat plan, and communicate with the exam office. </div>
                      <!-- <a href="#" class="blog-slider__button">READ MORE</a> -->
                    </div>
                  </div>
                  <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                      <img src="/imges/landingPages_img/exam2.png" alt="">
                    </div>
                    <div class="blog-slider__content">
                      <!-- <span class="blog-slider__code">26 December 2019</span> -->
                      <div class="blog-slider__title">How can show examination routine ?</div>
                      <div class="blog-slider__text">To view your examination routine in the DIU Exam Management System (EMS), follow these steps:

                        Go to the DIU website and log in to your student portal.
                        Click on the EMS tab.
                        Click on the Examination Routine link.
                        Select the semester and year for which you want to view your routine.
                        Click on the View Routine button.
                    
                    Your examination routine will be displayed on the next page. You can print your routine or save it as a PDF file.</div>
                      <!-- <a href="#" class="blog-slider__button">READ MORE</a> -->
                    </div>
                  </div>
                  
                  <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                      <img src="/imges/landingPages_img/exam3.png" alt="">
                    </div>
                    <div class="blog-slider__content">
                      <!-- <span class="blog-slider__code">26 December 2019</span> -->
                      <div class="blog-slider__title">What is overlap?</div>
                      <div class="blog-slider__text"> if two or more exams are on the same date, then it is called an overlap.</div>
                      <!-- <a href="#" class="blog-slider__button">READ MORE</a> -->
                    </div>
                  </div>
                  <div class="blog-slider__item swiper-slide">
                    <div class="blog-slider__img">
                      <img src="/imges/landingPages_img/exam4.png" alt="">
                    </div>
                    <div class="blog-slider__content">
                      <!-- <span class="blog-slider__code">26 December 2019</span> -->
                      <div class="blog-slider__title">How can I solve overlap problem?</div>
                      <div class="blog-slider__text"> Follow these steps:
                        The student to take the exam for their regular course on the scheduled date.
                        The EMS system has an overlap section where students can submit overlap information.
                        Only retake courses can be overlapped.
                        The EMS system will then create an overlap routine.
                    </div>
                      <!-- <a href="#" class="blog-slider__button">READ MORE</a> -->
                    </div>
                  </div>
                </div>
                <div class="blog-slider__pagination"></div>
              </div>
          </div>
      </div>
  </div>
  
  </section>
      <!-- 
    ============================================================
    section 4
    footer
    ============================================================
   -->
   <section id="section-5">
    <footer class="footer-03">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-12">
						<div class="row">
							<div class="col-sm-6 col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">Pages</h2>
								<ul class="list-unstyled">
		              <li><a href="#" class="py-1 d-block">Home</a></li>
		              <li><a href="#" class="py-1 d-block">Logain</a></li>
		              <li><a href="#" class="py-1 d-block">Help center</a></li>
		              <li><a href="#" class="py-1 d-block">Contact</a></li>
		            </ul>
							</div>
							<div class="col-md-4 mb-md-0 mb-4 d-none d-md-block">
								<h2 class="footer-heading">Helpful Link</h2>
								<ul class="list-unstyled">
		              <li><a href="#" class="py-1 d-block">Contact</a></li>
		              <li><a href="#" class="py-1 d-block">Instruction</a></li>
		              <li><a href="#" class="py-1 d-block">Help center</a></li>
		            </ul>
							</div>
							<div class="col-sm-6 col-md-4 mb-md-0 mb-4">
								<h2 class="footer-heading">Contact</h2>
								<ul class="list-unstyled contact-info">
		              <li class="d-flex align-items-center"><i class="fa-solid fa-phone"></i><p class="pl-5"> (406) 555-0120</p></li>
		              <li class="d-flex align-items-center"><i class="fa-solid fa-envelope"></i><p>cseoffice@daffodilvarsity.edu.bd</p></li>
		              <li class="d-flex align-items-center"><i class="fa-solid fa-location-dot"></i> <p>Daffodil Road, Ashulia, Dhaka.</p></li>
		            </ul>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-12">
						<div class="row justify-content-end">
							<div class="col-md-12 col-lg-11 mb-md-0 mb-4">
								<h2 class="footer-heading">Follow Us</h2>
		            <ul class="ftco-footer-social p-0">
		              <li class="ftco-animate"><a href="https://twitter.com/daffodilvarsity" data-toggle="tooltip" data-placement="top" target="_blank" title="Twitter"><i class="fa-brands fa-square-x-twitter"></i></a></li>
		              <li class="ftco-animate"><a href="https://www.facebook.com/daffodilvarsity.edu.bd" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa-brands fa-square-facebook"></i></a></li>
		              <li class="ftco-animate"><a href="https://www.instagram.com/daffodil.university/" data-toggle="tooltip" data-placement="top" target="_blank" title="Instagram"><i class="fa-brands fa-square-instagram"></i></a></li>
		              <li class="ftco-animate"><a href="https://www.linkedin.com/company/daffodil-international-university/" data-toggle="tooltip" data-placement="top" target="_blank" title="Linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
		              <li class="ftco-animate"><a href="https://www.youtube.com/user/webmasterdiu" data-toggle="tooltip" data-placement="top" target="_blank" title="Youtube"><i class="fa-brands fa-youtube"></i></a></li>
		            </ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-5 pt-4 border-top">
          <div class="col-md-6 col-lg-8">

            <p class="copyright">
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://ridoyislamnasim.up.railway.app/" target="_blank">ridoy islam</a>
          </div>
          <!-- <div class="col-md-6 col-lg-4 text-md-right">
          	<p class="mb-0 list-unstyled">
          		<a class="mr-md-3" href="#">Terms &amp; Conditions</a>
          		<a class="mr-md-3" href="#">Privacy</a>
          	</p>
          </div> -->
        </div>
			</div>
		</footer>
   </section>




</body>
<!-- dropdown button -->
<%- include(`../../common/js/dropDownJS.ejs`); %>
  <script type="text/javascript" src="/Js/jquery-3.3.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/Js/bootstrap.min.js"></script>
<!-- slider js  -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script> 
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
<%- include(`./sliderJS.ejs`); %>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
<%- include(`./Q&A_slider.ejs`); %>

<%- include(`../../common/js/landingPageMenuJs.ejs`); %>

    
</body>

</html>