<%- include(`../commonPartial/header.ejs`); %>
<%- include(`../commonPartial/menu.ejs`); %>
<section class="home-section">
  <div class="home-content">

    <div class="manageAddRoom-container">
      <div id="title">
        <h2>Manage Subject</h2>
      </div>

      <!-- <div class="new-room-container new-room">
        <a href="#" onclick="openAddSubjectModal() " class="newadd">add</a>
      </div> -->
      <div class="table_top">
        <div class="left">
          <button class="newadd" onclick="openAddSubjectModal()">Add New Subject</button>
        </div>
        <div class="right">
          <div class="sub-right">
            <div class="right-sub-item">
              <span>Total number of Subjects : </span><span><%= subjectSctionInfo.totalSubject   %></span>
            </div>
            <div class="right-sub-item">
              <span>Total number of Sections : </span><span><%= subjectSctionInfo.totalSection     %></span>
            </div>
          </div>
          <!-- <div class="sub-right" >
              <div class="right-sub-item">
                <span>Total theory rooms seats : </span><span><%=     %></span>
              </div>
              <div class="right-sub-item">
                <span>Total lab rooms seats : </span><span><%=     %></span>
              </div>
            </div> -->

        </div>
      </div>
      <div id="rooms-Info">

        <div class="info-title">
          <span>Daffodil International University (DSC)</span>
          <span> Department of Computer Science and Engineering (Day and Evening Program)</span>
          <span>Level/Term-wise Master Seat Plan, Spring 2023</span>
        </div>
        <!-- < pagination records per page > -->
        <div class="records_per_page">
          Records per page
          <select class="form-select" id="records_size" style="max-width: 80px;">
            <option value="2">2</option>
            <option selected value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>
        <!-- < pagination records per page > -->

        <div id="rooms-table">
          <table id="subjecttable">

            <!-- < pagination records where show, id="showData" > -->

            <tbody id="showData">
              <div></div>

              <!-- </div> -->

              <!-- create coloum -->
              <% for(let oneSubject of subjectSection){%>
              <!-- < pagination each records ,(div,tbody,tr,td) class="pagination-data" ,end-> where each records end > -->
              <div class="LTBody pagination-data" style="display: none;">
                <!-- <thead> -->
                  <div class="oneLT">
                      <div class="LT-title">
                        <div class="gap"></div>
                        <div class="level-term ">
                          <%= oneSubject.level %>-<%= oneSubject.term %> Information <span class="batchInfo"><%= oneSubject.batch %></span>       </div>
                        <div class="edit-delete">
                          <a href="#" onclick="roomEditHandel(this,'<%= oneSubject._id  %>')">
                            <!-- edit -->
                            <i class="fa-regular fa-pen-to-square"></i>
                          </a>
                          <a method="delete" href="#" onclick="opensubjectDeleteModal(this,'<%= oneSubject._id %>')">
                            <!-- delete -->
                            <i class="fa-regular fa-trash-can"></i>
                          </a>
                        </div>
                      </div>
                      <div class="LT-header">
                        <div class="LT-header-item">Level</div>
                        <div class="LT-header-item">Term</div>
                        <div class="LT-header-item">Course Title</div>
                        <div class="LT-header-item">course code</div>
                        <div class="LT-header-item">Section Name</div>
                        <div class="LT-header-item">reg_student</div>
                        <div class="LT-header-item">Teacher Iinitial</div>
                      </div>
                      <div class="LT-Body">
                        <div class="level LT-Body-item"><%= oneSubject.level %></div>
                        <div class="term LT-Body-item"><%= oneSubject.term %></div>
                        <div class="SubjectCode-info LT-Body-item">
                          <% for(let course of oneSubject.course){%>
                          <div class="SubjectCode"><%= course.courseCode %></div>
                          <% } %>
                        </div>
                        <div class="SubjectName-info LT-Body-item">
                          <% for(let course of oneSubject.course){%>
                          <div class="SubjectName"><%= course.courseName %></div>
                          <% } %>
                        </div>
                        <div class="sectionName-info LT-Body-item">
                          <% for(let course of oneSubject.course){%>
                          <% for(let section of course.section){%>
                          <div class="sectionName"><%= section.sectionName %></div>
                          <% } %>
                          <% } %>
                        </div>
                        <div class="reg_student-info LT-Body-item">
                          <% for(let course of oneSubject.course){%>
                          <% for(let section of course.section){%>
                          <div class="reg_student"><%= section.reg_student %></div>
                          <% } %>
                          <% } %>
                        </div>
                        <div class="teacherInitial-info LT-Body-item">
                          <% for(let course of oneSubject.course){%>
                          <% for(let section of course.section){%>
                          <div class="teacherInitial"><%= section.teacherInitial %></div>
                          <% } %>
                          <% } %>
                        </div>
                      </div>
                  </div>
                <!-- </thead> -->

              </div>
              <% } %>

              <!-- create coloum end -->

            </tbody>

          </table>


        </div>
        <!-- <pagination footer> -->
        <div class="pagination_footer subject-pagination-footer">
          <div class="showing_number_of">
            <div id="page_details"></div>
          </div>
          <div class="pagination" id="pagination">

          </div>
        </div>
      </div>
      <!-- <pagination footer> -->
    </div>
  </div>
</section>

<!-- manu open close -->
<%- include(`../commonPartial/manuOpenCloseScript.ejs`); %>

<!-- <script>
  $(document).ready(function() {
    $('#subjecttable').DataTable({
      "pagingType": "full_numbers",
      "language": {
        "paginate": {
          "first": "First",
          "previous": "Previous",
          "next": "Next",
          "last": "Last"
        }
      }
    });
  });
</script> -->


<%- include(`./addSubjects.ejs`); %>
<%- include(`./deleteSubjects.ejs`); %>
<%- include(`./editSubjects.ejs`); %>
<script>
  // functiondataInformationResived(){}
  // Get a reference to the div element, where show  genarate pganiantion information 
  const showData = document.getElementById("showData");
  // how many div has find this  
  let total_records_div = document.querySelectorAll(".pagination-data");
  // one page howmany records show 
  let records_size = document.getElementById('records_size')
  let records_per_page = records_size.value;
  let page_number = 1;
  let total_records = total_records_div.length
  let total_pages = Math.ceil(total_records / records_per_page)
  console.log('--->-->-->-->->->', total_records, total_pages, records_per_page)
  grnaratePagination()
  DisplayRecords()

  function DisplayRecords() {
    console.log("page_number,records_per_page",page_number,records_per_page)
    let start_index = (page_number - 1) * records_per_page;
    let end_index = start_index + Number(records_per_page);
    console.log("total_records,end_index",total_records,end_index)
    if (end_index >= total_records) {
    console.log("total_records",total_records)
      end_index = total_records
    }
    console.log("start_index ,end_index ",start_index ,end_index)

    let statement = '';
    for (let index = start_index; index < end_index; index++) {
      // console.log("------------data",total_records_div[index])
      console.log("------------data")
      // console.log("--------------",total_records_div[index].innerHTML)
      // data_show_div.innerHTML = total_records_div[index].innerHTML
      statement += `${total_records_div[index].innerHTML}`

    }
    // Set the HTML content into the div
    showData.innerHTML = statement;
    document.querySelectorAll(".pagination_link").forEach(item => {
      item.classList.remove('active')
    })
    if (page_number == 1) {
      document.getElementById('prvBtn').classList.add('active')
    }
    if (page_number == total_pages) {
      document.getElementById('nextBtn').classList.add('active')
    }
    document.getElementById(`page${page_number}`).classList.add('active')
    document.getElementById('page_details').innerHTML = `Showing ${start_index + 1} to ${end_index} of ${total_records}`
    // if (page_number == 1 ) {
    //   document.getElementById('prvBtn').classList.add('active')

    // }

  }


  function grnaratePagination() {
    let prv_btn = `<div class="pagination_item" aria-disabled="true">
              <a class="pagination_link active" id='prvBtn' onclick='prvBtn()' href="javascript:void(0)" aria-disabled="true">Previous</a>
            </div>`
    let next_btn = `<div class="pagination_item">
              <a class="pagination_link" id='nextBtn' onclick='nextBtn()' href="javascript:void(0)">Next</a>
            </div>`
    let pagination_page_number = '';
    let activeClass = '';
    for (let index = 1; index <= total_pages; index++) {
      if (index == 1) {
        activeClass = 'active'
      } else {
        activeClass = ''
      }
      pagination_page_number += `<div class="pagination_item">
              <a class="pagination_link ${activeClass} "  id='page${index}' onclick='goPage(${index})'  href="javascript:void(0)">${index}</a>
            </div>`
    }
    document.getElementById('pagination').innerHTML = `${prv_btn} ${pagination_page_number} ${next_btn} `

  }

  function prvBtn() {
    console.log("+++++++++++++++++++++++++++++++++++", page_number)
    if (page_number > 1) {
      page_number--;
      DisplayRecords();
    }
  }

  function nextBtn() {
    console.log("+++++++++++++++++++++++++++++++++++", page_number, total_pages)
    if (page_number < total_pages) {
      page_number++;
      DisplayRecords();
    }
  }

  function goPage(pageNumber) {
    console.log("///////////////////////", typeof pageNumber, pageNumber)
    console.log("///////////////////////", typeof parseInt(pageNumber))
    page_number = parseInt(pageNumber)
    DisplayRecords();
  }
  records_size.addEventListener('change', function(e) {
    records_per_page = records_size.value;
    total_pages = Math.ceil(total_records / records_per_page)
    page_number = 1;
    console.log('records_per_page,total_pages ', records_per_page, total_pages)

    grnaratePagination()
    DisplayRecords()
  })


  // data_show_div.innerHTML = "statement";
  // let coloumsmax = document.getElementById("coloumsmax");
  // console.log("total_records_div", total_records_div)
  // console.log("total_records_div",typeof  total_records_div)
  // console.log("total_records_div", typeof records_per_page)
  // console.log("total_records_div", total_records_div.length,total_pages)
</script>


</body>

</html>