<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sumit Saha" />
    <meta name="owner" content="learnwithsumit.com" />
    <title>Login</title>
    <!-- <link rel="shortcut icon" href="../public/imges/favicon.png" /> -->
    <!-- <link rel="stylesheet" href="/stylesheets/login.css" /> -->
    <link rel="stylesheet"  href="/stylesheets/login.css">
  </head>
  <body>
    <div id="login-container">
      <div id="left-column">
      </div>
      <div id="branding">
        <!-- <img src="/imges/daffodil-international-university-logo.png" alt=""> -->
        <h1>User Singin</h1>
      </div>
      <div id="login-form">
        <form method="post" action="/singin">
          <input type="text" name="username" placeholder="Enter your name" value="<%= value.username ? value.username : ""%>"  />
          <p class="erroe-msg"> <%=  errr.username %></p>

          <input type="text" name="useremail" placeholder="Enter a valid email" value="<%= value.useremail ? value.useremail : ""%>"/>
          <p class="erroe-msg"><%=  errr.useremail %></p>

          <input type="password" name="password" placeholder="Enter a strong password" value="<%= value.password ? value.password :""%>"/>
          <p class="erroe-msg"><%=  errr.password %></p>
          <input type="password" name="confirmpassword" placeholder="Confirm your password" value="<%= value.confirmpassword ? value.confirmpassword :"" %>"/>
          <p class="erroe-msg"><%=  errr.confirmpassword %></p>
          </p><input type="submit" value="Singin" />
         <p><span class="dontAC">Already have an account?</span> <a href="/login"> Log In</a> </p>
        </form>
      </div>
    </div>
  </body>
</html>
